body {
    background-color: #804DB2 !important;
}

.header {
	background: #794CA7;
}    

.iva-mobile-menu {background-color: rgb(79, 129, 190);}

#book-appointment-wizard #header {
    background: rgba(102, 51, 153, 0.51);
    border-bottom: 4px solid #330066;
}

#book-appointment-wizard .book-step, #book-appointment-wizard .active-step {
    background: #7547A3;
    border: 3px solid #51198A;
}

.topbar { 
	background-color:#eeeeee; 
	color: #444444;
}

a { color:#634988; }
a:hover { color:#444444; }

.sf-menu li.current-cat > a, 
.sf-menu li.current_page_item > a,
.sf-menu li.current-menu-ancestor > a,
.sf-menu li.current-page-ancestor > a  { color:#634988;  }

.sf-menu li li:hover, 
.sf-menu li li.sfHover, 
.sf-menu li li a:focus, 
.sf-menu li li a:hover, 
.sf-menu li li a:active { color:#634988;  }

.iva_appt_section { background-color:#4b3767 !important; }
.iva-appt-time-slot-selected{ background-color:#4b3767 !important; }

.cl-title a:hover,
.ac_title.active .arrow, 
.toggle-title.active .arrow { color:#ffffff; }

#footer,
#subheader,
.splitter li a.selected,
.splitter ul li a:hover,
.iva-np-allitems,
.drlist-Header .drlist-Row,
.sub_nav li.current_page_item > a, 
.sub_nav li.current_page_item > a:hover,
.iva-date-wrap,
.copyright { background-color:#503A6E; }

.flex-title h5 span,
.owl-theme .owl-controls .owl-page span,
#back-top a:hover span { background-color:#634988 !important; }


.iva_appt_section,
.iva-date-wrap,
.iva-date-ui .ui-widget-header,
.iva-date-ui .ui-widget-header a,
 .iva-date-ui .ui-state-highlight, 
 .iva-date-ui.ui-widget-content .ui-state-highlight { background-color:#663399; }

/* Menu Styling
==================================================================== */

.header {
    background: #794CA7;
}

#fixedheader .sf-menu > li > a,
.header-style1 .sf-menu > li > a { color:#999999; }

#fixedheader .sf-menu > li.sfHover > a,
.header-style1 .sf-menu > li.sfHover > a,
#fixedheader .sf-menu > li > a:focus, 
.header-style1 .sf-menu > li > a:focus, 
#fixedheader .sf-menu > li > a:hover,
.header-style1 .sf-menu > li > a:hover, 
#fixedheader .sf-menu > li > a:active,
.header-style1 .sf-menu > li > a:active { color:#ffffff; }

.header-style2 .primarymenu,
.header-style3 .primarymenu, 
.header-style4 .primarymenu { background-color:#634988; }

.sf-menu a {  color:#ffffff;  }
.sf-menu li:hover, 
.sf-menu li.sfHover { background-color:#8467ae; }

.sf-menu .sfHover > a,
.sf-menu a:focus, 
.sf-menu a:hover, 
.sf-menu a:active {
	color:#ded7e2;}

.sf-menu ul { background:#4b3767; }
.sf-menu ul a { color:#ded7e2; }
.sf-menu ul li a { border-color:#533d72; }
.sf-menu li li:hover, 
.sf-menu li li.sfHover, 
.sf-menu li li a:focus, 
.sf-menu li li a:hover, 
.sf-menu li li a:active {color:#ffffff;background:#8467ae; }

.sf-menu li.current-cat > a, 
.sf-menu li.current-menu-ancestor > a, 
.sf-menu li.current-page-ancestor > a { color:#c3b5d7;background-color:#4b3767; }

.sf-menu.sf-vertical > li > a { color:#999999;  background-color: transparent; }
.sf-menu.sf-vertical > li:hover,
.sf-menu.sf-vertical > li.sfHover { background-color: transparent; }

.sf-menu.sf-vertical > li.current-cat > a, 
.sf-menu.sf-vertical > li.current_page_item > a, 
.sf-menu.sf-vertical > li.current-menu-ancestor > a, 
.sf-menu.sf-vertical > li.current-page-ancestor > a { background-color: transparent; }
/* ----- */

.iva_dr_sort > ul, 
.iva_tt_sort > ul,
.iva_dr_sort > ul li:hover,
.iva_tt_sort > ul li:hover,
table.iva_time_table td.iva_tt_info { 
	background-color:#634988;
}

.iva_dr_sort > ul ul li a:hover,
.iva_tt_sort > ul ul li a:hover,
table.iva_time_table td.iva_tt_info:hover { 
	background-color:#8467AE;	
}